<%- if controller_name != 'sessions' %>
  <a class="btn-link " href="/users/sign_in?locale=<%= I18n.locale %>"><i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;<%=t("sign_in")%></a><br /><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <a class="btn-link " href="/users/sign_up?locale=<%= I18n.locale %>"><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;<%=t("sign_up")%></a><br /><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <a href="/users/password/new?locale=<%= I18n.locale %>" class="btn-link"><i class="fa fa-database fa-lg"></i>&nbsp;&nbsp;<%=t("forget")%>?</a><br /><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br /><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br /><br />
  <% end -%>
<% end -%>
