<h1><%=t("sign_in")%></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="panel panel-primary" style="padding:1%;">
    <div class="panel-body">
      <div class="field">
        <label><%=t("email")%></label><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="field">
        <label><%=t("password")%></label><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <label><%=t("remember_me")%></label>
        </div>
      <% end -%>

      <div class="actions">
        <input type="submit" name="commit" value="<%=t("sign_in")%>" style="border-radius:0em;">
      </div>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
<% end %>
