<style>
    li{
        color:black;
    }
</style>
<h1>Site <%=t("about")%></h1>
<div class="panel panel-primary" style="text-align:left">
    <div class="panel-body">
        <ol>
            <br>
            <li>
                <%=t("about_1")%>
            </li>
            <hr>
            <li>
                <%=t("about_2")%>
            </li>
            <hr>
            <li>
                <%=t("about_3")%>
            </li>
            <hr>
            <li>
                <%=t("about_4")%>
            </li>
            <br>
        </ol>
    </div>
</div>
